.centrirano {
  justify-content: center;
  display: flex;
}

.greska {
  color: red;
}

.card-header {
  background-color: #c7f6c4;
}

i {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  padding-right: 0.1rem;
  color: darkslategray;
}

.filled {
  color: orange;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
