.centrirano {
  justify-content: center;
  display: flex;
}

.input-text {
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
  padding: 5px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
}

.predmet-label {
  border: 1px solid lightgrey;
}

.uzrast-label {
  border: 1px solid lightgrey;
}

.card-header {
  background-color: #c7f6c4;
}

.greska {
  color: red;
}


i {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  padding-right: 0.1rem;
  color: #d3d3d3;
}

.filled {
  color: orange;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.komentar {
  border: 2px solid rgba(144, 238, 144, 0.5);
  padding: 10px;
  margin-top: 5px;
}
