<app-header></app-header>
<div class="container" style="width: 80%;">
  <div class="row centrirano">
    <div class="col-lg-6 centrirano"  style="margin-top: 50px;">
      <img [src]="profilnaUrl" (click)="izaberiProfilnu()" alt="" width="400" height="400" class="rounded" id="profilnaSlika">
    </div>
    <div class="col-lg-6"  style="margin-top: 50px;">
      <div class="card">
        <div class="card-body">
          <div class="form-group ">
            <label for="ime">Ime:</label>
            <div><input type="text" class="input-text" (input)="promena()" id="ime" [(ngModel)]="ulogovan.ime"></div>
            <div class="greska">{{greskaIme}}</div>
          </div>
          <div class="form-group" style="margin-top: 15px;">
            <label for="prezime">Prezime:</label>
            <div><input type="text" class="input-text" (input)="promena()" id="prezime" [(ngModel)]="ulogovan.prezime"></div>
            <div class="greska">{{greskaPrezime}}</div>
          </div>
          <div class="form-group" style="margin-top: 15px;">
            <label for="adresa">Adresa:</label>
            <div><input type="text" class="input-text" (input)="promena()" id="adresa" [(ngModel)]="ulogovan.adresa"></div>
            <div class="greska">{{greskaAdresa}}</div>
          </div>
          <div class="form-group" style="margin-top: 15px;">
            <label for="email">Email:</label>
            <div><input type="text" class="input-text" (input)="promena()" id="email" [(ngModel)]="ulogovan.email"></div>
            <div class="greska">{{greskaEmail}}</div>
          </div>
          <div class="form-group" style="margin-top: 15px;">
            <label for="telefon">Telefon:</label>
            <div><input type="text" class="input-text" (input)="promena()" id="telefon" [(ngModel)]="ulogovan.telefon"></div>
            <div class="greska">{{greskaTelefon}}</div>
          </div>
          <label style="margin-top: 15px;">Tip skole:</label>
            <div class="form-check">
              <input class="form-check-input" (input)="promena()" [disabled]="ulogovan.tipSkole.includes('sr')" [(ngModel)]="ulogovan.tipSkole" type="radio" name="tipSkole" id="osnovna" value="osn"><label for="osnovna">Osnovna</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" (input)="promena()" [(ngModel)]="ulogovan.tipSkole" type="radio" name="tipSkole" id="srednjaGimn" value="srGimn"><label for="srednjaGimn">Srednja - gimnazija</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" (input)="promena()" [(ngModel)]="ulogovan.tipSkole" type="radio" name="tipSkole" id="srednjaStrucna" value="srStruc"><label for="srednjaStrucna">Srednja - strucna</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" (input)="promena()" [(ngModel)]="ulogovan.tipSkole" type="radio" name="tipSkole" id="srednjaUmetnicka" value="srUmet"><label for="srednjaUmetnicka">Srednja - umetnicka</label>
            </div>
            <div class="greska" *ngIf="potrebnaPromenaSkole && ulogovan.tipSkole == 'osn'">{{greskaTipSkole}}</div>
          <div class="form-group" style="margin-top: 15px;">
            <label for="razred">Razred:</label>
            <div class="greska" *ngIf="ulogovan.tipSkole.startsWith('sr') && ulogovan.razred > 4">{{greskaRazred}}</div>
            <div class="centrirano">
              <input type="number" class="input-text" disabled style="text-align: center;" id="razred" [(ngModel)]="ulogovan.razred">
              <button class="btn btn-success" (click)="povecajRazred()" [disabled]="inkrementiran">+</button>
            </div>
          </div>
          <div class="centrirano" style="color: green; margin-top: 15px;">{{azuriranjeUspeh}}&nbsp;&nbsp;
            <div class="spinner-border spinner-border-sm centrirano" role="status" *ngIf="azuriranjeUspeh != '' ">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <div class="centrirano greska" style="margin-top: 15px;">{{greskaAzuriranje}}</div>
          <div class="centrirano" style="margin-top: 15px;">
            <button class="btn btn-success btn-block" (click)="sacuvajIzmene()" [disabled]="!biloPromene || brGresaka > 0 ||
                                          potrebnaPromenaSkole && ulogovan.tipSkole == 'osn' ||
                                          ulogovan.tipSkole.startsWith('sr') && ulogovan.razred > 4">Sacuvaj izmene</button>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>

<input type="file" name="inputProfilna" id="inputProfilna" hidden (change)="onFileSelected($event)">
